/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */

.navbar {
    padding: 25px;
  }
  
  .grey-background{
    background-color: lightgrey;
  }
  
  .white-background{
    background-color: white;
  }

  @media (max-width: 1100px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";

    background-color: #67b0d1;
    }
  }
  
  /* Styling the header, giving it a height, a background color, and some top padding */
  .web-title {
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: #67b0d1;
    font-style: bold;
    font-size: 30px;
    font-family: Roboto, sans-serif;
  }
  
  .right-align {
    position: absolute;
    right: 5%;
  }
  
  .box {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .padding_1 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .left_padding {
    padding-left: 10px;
  }
  
  .right_padding {
    padding-right: 10px;
  }
  
  .top_padding {
    padding-top: 10px;
  }
  
  .bottom_padding {
    padding-bottom: 10px;
  }
  
  
  .header {
    padding-top: 40px;
    padding-left: 10px;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    color: #444444;
  }
  
  .h2 {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color:#67b0d1;
  }
  
  .site_font {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  

/* styling for visualization pages
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */

.navbar {
  padding: 25px;
}

.grey-background{
  background-color: lightgray; 
}

.white-background{
  background-color: white;
}

/* Styling the header, giving it a height, a background color, and some top padding */
.web-title {
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background: #67b0d1;
  font-style: bold;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.right-align {
  position: absolute;
  right: 5%;
}

.box {
  background: transparent;
}

.padding_1 {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.left_padding {
  padding-left: 10px;
}

.right_padding {
  padding-right: 10px;
}

.top_padding {
  padding-top: 10px;
}

.bottom_padding {
  padding-bottom: 10px;
}


.header {
  padding-top: 40px;
  padding-left: 10px;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  color: #67b0d1;
}

.h2 {
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
  font-family:  "Roboto", sans-serif;
  font-style: bold;
  color: #67b0d1;
}

.site_font {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}